@import "wiki-header.css";
@import "side.css";
@import "edit.css";
body {
  margin-left: 82px;
  margin-right: 90px;
  margin-top: 10px;
}

main {
  display: flex;
  margin-top: 25px;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 8px;
  margin-top: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.title__icons {
  width: 120px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
.title__title {
  font-size: 30px;
}
.title__C {
  padding-right: 5px;
}
